@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte-h1: 'Fraunces', serif;
    --fonte-p: 'Montserrat', sans-serif;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    align-items: center;
    justify-content: center;
}

main {
    max-width: 300px;
    height: 550px;
    background-color: white;
    border-radius: 10px;
}

section.image {
    width: 100%;
    height: 50%;
    background: black url(../images/image-product-mobile.jpg) center center no-repeat;
    background-size: cover;    
    border-radius: 10px 10px 0px 0px;
}

section.infos {
    width: 100%;
    height: 50%;
    padding: 15px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--fonte-h1);
    font-weight: 700;
    font-size: xx-large;
}

p {
    font-size: 14px;
    font-family: var(--fonte-p);
    font-weight: 500;
    margin: 5px;
}

div {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}

div > p.poriginal {
    color:  hsl(158, 36%, 37%);
    font-family: var(--fonte-h1);
    font-size: 2em;
    padding: 5px;
}

div > p.pcortado {
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: line-through rgba(0, 0, 0, 0.5);
}

button.button {
    background-color: hsl(158, 36%, 37%);
    color: white;
}

button:hover {
    color: white;
}