@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte-h1: 'Fraunces', serif;
    --fonte-p: 'Montserrat', sans-serif;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    align-items: center;
    justify-content: center;
}

main {
    max-width: 320px;
    height: 550px;
    background-color: white;
    border-radius: 10px;
}

section.image {
    width: 100%;
    height: 40%;
    background: black url(../images/image-product-mobile.jpg) center center no-repeat;
    background-size: cover;    
    border-radius: 10px 10px 0px 0px;
}

section.infos {
    width: 100%;
    height: 60%;
    padding: 15px;
}

h1.myh1 {
    font-family: var(--fonte-h1);
    font-weight: 700;
    font-size: 1.8em;
}

p {
    font-size: 14px;
    font-family: var(--fonte-p);
    font-weight: 500;
    margin: 5px;
}

div {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}

div > p.poriginal {
    color:  hsl(158, 36%, 37%);
    font-family: var(--fonte-h1);
    font-size: 2em;
    padding: 5px;
}

div > p.pcortado {
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: line-through rgba(0, 0, 0, 0.5);
}

button.button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    border-radius: 10px;
}

button:hover {
    color: white;
}

@media screen and (min-width: 1440px) {

    main {
        display: flex;
        max-width: 600px;
        height: 450px;
    }

    section.image {
        width: 50%;
        height: 100%;
        background: black url(../images/image-product-desktop.jpg) center center no-repeat;
        background-size: cover;
        border-radius: 10px 0px 0px 10px;
    }

    section.infos {
        width: 50%;
        height: 100%;
        padding: 25px;
    }

    h1.myh1 {
        font-size: 2.2em;
        margin-top: 15px;
        margin-bottom: 15px;
        
    }

    p {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}