@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    --fonte-p: 'Montserrat', sans-serif;
}

p {
    font: var(--fonte-p);
}

section.image {
    background: black url('images/image-product-mobile.jpg') cover cover no-repeat;
}

@media screen and (min-width: 1280px) {
    section.image {
        background: black url('images/image-product-desktop.jpg') cover cover no-repeat;
    }
}